// Backgrounds
$bg: #282828;
$bg0_h: #1d2021;
$bg0: #282828;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;
$bg0_s: #32302f;

// Foregrounds
$fg: #ebdbb2;
$fg0: #fbf1c7;
$fg1: #ebdbb2;
$fg2: #d5c4a1;
$fg3: #bdae93;
$fg4: #a89984;

// Colors
$red: #cc241d;
$red_alt: #fb4934;
$green: #98971a;
$green_alt: #b8bb26;
$yellow: #d79921;
$yellow_alt: #fabd2f;
$blue: #458588;
$blue_alt: #83a598;
$purple: #b16286;
$purple_alt: #d3869b;
$aqua: #689d6a;
$aqua_alt: #8ec07c;
$gray: #928374;
$gray_alt: #a89984;
$orange: #d65d0e;
$orange_alt: #fe8019;
