@use "sass:string";
@import "../../colors.scss";

@function gtkalpha($c, $a) {
  @return string.unquote("alpha(#{$c},#{$a})");
}

window#power-menu {
  background-color: gtkalpha($bg, 0.6);

  box.power-buttons {
    border-radius: 8px;
    font-size: 24px;
    color: $fg;

    button {
      border-radius: 8px;
      border: 1px solid $purple;
    }

    button.lock {
      background-color: $aqua;
      color: $bg;
    }

    button.restart {
      background-color: $red;
      color: $bg;
    }

    button.poweroff {
      background-color: $green;
      color: $bg;
    }

    button.logout {
      background-color: $yellow;
      color: $bg;
    }

    button:focus {
    }

    button:hover {
      background-color: $purple;
      color: $bg;
    }
  }
}
