@import "../../colors.scss"; 

window#wallpaper {
  all: unset;

  box.wallpaper-switcher {
    background-color: $bg;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid $purple;
    border-radius: 8px;
  }

  entry {
    margin-bottom: 12.8px; /* 0.8rem = 12.8px */
    border-radius: 8px;
  }

  button {
    border-radius: 8px;
    border: 1px solid $bg0_h;
  }

  button:focus {
    background-color: $purple;
    color: $bg;
  }

  button:hover {
    background-color: $purple;
    color: $bg;
  }

};
